<div class="modal fade" id="quick-view-modal">
	<div class="modal-dialog modal-lg">
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<div class="modal-content">
		</div>
	</div>
</div>