(function($){
	'use strict';
	
	jQuery(document).ready(function($) {
        window.setTimeout(function(){
            $.ajax({
                url: '/collections/all',
                type: 'GET',
                data: {view: 'ajax'},
                success:function(response){
                    json_collection =  jQuery.parseJSON(response);
                }
            });
        },3000); 
        function search_html(data){
			var $html = '<div class="col-md-3"><img src="'+data.images[0]+'" width="60" /> </div>';
			$html  = $html + '<div class="col-md-9"> <a href="/products/'+data.handle+'"> <h4> '+data.title+'  </h4> </a> <p> Price <strong >'+data.price+'</strong> </p></div>';
			$html = '<div class="row"><div class="search_item"> '+$html+'  </div> </div>';
			$("#search-results").append($html);
		}
		var limit_search = 5;
		var $current_search = null;
		$("#search-ajax").keyup(function(event) {
			event.preventDefault();
			clearTimeout($current_search);
			$("#search-results").empty();
			var $val  = $(this).val();
			var check = 0;
			if($val.trim() == '') {return false;}
            $current_search = setTimeout(function(){
            	$.grep(json_collection, function($this,index){
                    var matcher = new RegExp( $.ui.autocomplete.escapeRegex($val), "i" );
                    if( matcher.test($this.title)){
                        search_html($this);
                    }
            	});
            },1000);
		});

	});
})(jQuery);