<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="heading-compare">
				<h2>Compare Page</h2>
			</div>
			<div class="alert alert-danger alert-dismissible fade in  error-compare" role="alert" >
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				 <span aria-hidden="true">×</span>
				 </button> 
				 <h4>Oh snap! You got an error!</h4>
				  <p>No product to compare.</p> 
				  <p> <button type="button" class="btn btn-danger">Take this action</button> 
				  <button type="button" class="btn btn-default">Or do this</button> </p> </div>
			<div class="compare-content">
				 <div class="table-responsive">
				 	<table class="table table-hover">
				 		<thead>
				 			<tr>
				 				<th>Product image</th>
				 				<th>Prodcut Info</th>
				 				<th>Product Description</th>
				 				<th>Action</th>
				 			</tr>
				 		</thead>
				 		<tbody id="table-compare">
				 			 
				 		</tbody>
				 	</table>
				 </div>
			</div>
		</div>
	</div>
</div>
